<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="LogFileName" value="C:\Visual Studio Projects\Visual Studio 2012\testLog4Net\testLog4Net\testlog4net.log.txt"/>
  </appSettings>

  <!-- ================== LOGGING ================== -->
  <log4net>
    
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{stackloc}]- %message%newline" />
      </layout>
    </appender>
    
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{stackloc}]- %message%newline" />
      </layout>
    </appender>
    
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Visual Studio Projects\\Visual Studio 2012\\testLog4Net\\testLog4Net\\testlog4net.log.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5120KB" />
      <staticLogFileName value="true" />
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger  [%property{stackloc}]- %message%newline" />
      </layout>
    </appender>
    
    <!--- ODL APPENDER , having problems with running out of space.
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="E:\App_Data\useIT"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <DatePattern value=".yyyy-MM-dd-tt&quot;.log.txt&quot;"/>
      <AppendToFile value="true"/>
      <RollingStyle value="Date"/>
      <StaticLogFileName value="false"/>
      <maxSizeRollBackups value="100" />
      <maxSizeRollBackups value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{stackloc}]- %message%newline"/>
      </layout>
    </appender>
-->

    <root>
      <!-- <priority value="ALL"/> -->
      <!-- <priority value="DEBUG"/> -->
      <!-- <priority value="INFO"/> -->
      <!-- <priority value="WARN"/> -->
      <!-- <priority value="ERROR"/> -->
      <!-- <priority value="FATAL"/> -->
      <!-- <priority value="OFF"/> -->
      <priority value="ALL"/>
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>

